:root{
    --white-color:hsl(0, 0%, 100%);
    --main-bg-color:hsl(212, 45%, 89%);
}


body{
    background-color: var(--main-bg-color);
    font-family: 'Outfit', sans-serif;
}

.card-container{
    width: 320px;
    height: 497px;
    background-color: var(--white-color);
    margin: 100px auto;
    border-radius: 10px;
}

.image-container{
    padding: 10px;
}



.qr-img{
    display:block;
    width:95%;
    margin: 10px auto;
    border-radius: 10px;
}
.main-heading{
    width: 90%;
    margin: 10px auto;
    padding-left: 20px;
}



/*  FRONTEND MENTOR STYLES */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }